includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
	level: 10
	paths:
		- src
	excludePaths:
	    analyseAndScan:
	        - src/DiContainer/Compiler/template.php
	ignoreErrors:
		-
			identifier: missingType.generics
	phpVersion:
		min: 80100
		max: 80400
